.checkout-header{
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    border-bottom: 1px solid darkgrey;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (max-width: 1320px){
        font-size: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .header-block {
        align-self: center;
        justify-self: center;

        @media screen and (max-width: 700px) {
            font-size: 0.9rem;
        }

        &:first-child{
            justify-self: left;
        }
  
        &:last-child {
          width: 100%;
          text-align: center;
        }
    }      
}
.checkout-items{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    border-bottom: 1px solid lightgrey;
    margin: 10px 0;
    
    @media screen and (max-width: 700px) {
        font-size: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .product{
        display: flex;
        align-items: center;

        p{
            margin-left: 20px;

            @media screen and (max-width: 1320px){
                margin: unset;
            }
        }

        @media screen and (max-width: 1320px){
            display: unset;
        }
    }

    p{
        justify-self: center;
        align-self: center;
        // font-weight: 600;
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            padding: 0 10px;
        }
        
        button{
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }
    }

    img{
        width: 200px;
        height: 100px;
        object-fit: cover;
        margin: 10px 0;

        @media screen and (max-width: 700px){
            width: 100%;
        }
    }

    button{
        height: auto;
        width: 25px;
        height: 25px;
        justify-self: center;
        align-self: center;
        border: 1px solid #BFDD3B;
        border-radius: 5px;
        font-size: 12px;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        @media screen and (max-width: 1320px) {
            width: 20px;
            height: 20px;
            font-size: 0.7rem;
        }

        @media (hover:hover){
            &:hover{
                transition: 0.5s;
                cursor: pointer;
                background-color: lightgrey;
            }
        }

        &:focus{
            outline: none;
        }

        // span{
        //     text-align: center;
        //     vertical-align: middle;
        // }
    }
}

