.home{
    .parallax{
        background: url('../../assets/pozadina.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        width: auto;
        height: 100vh;
    }

    .homepage-text{
        margin: 70px 0;
        width: 50%;
        position: relative;
        left: 25%;

        @media screen and (max-width: 1320px) {
             width: auto;
             position: unset;
             left: unset;
             margin: 70px 15px;
        }
    }
}


