$green: #BFDD3B;
$verydarkgrey: rgb(105, 105, 105);

.footer{
    background: black;
    padding: 0 250px;
    border-top: 1px solid $green;

    @media screen and (max-width: 1320px) {
        padding: unset;
    }

    .upper-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // align-self: center;
        background: black;
        padding: 20px 0;
        color: white;
        // justify-content: space-between;
        margin: 0 50px;
        border-bottom: 1px solid $verydarkgrey;

        @media screen and (max-width: 1320px) {
            display: unset;
            text-align: center;
        }

        ul{
            padding: 0;

            p{
                font-weight: bolder;
                padding-left: 5px;
            }
    
            li{
                list-style-type: none;
                font-weight: lighter;
    
                i{
                    padding: 5px;
                }
            }
        }
    
        .social-icons{
            // margin-left: -50px;
            width: auto;

            ul{
                width: fit-content;
                margin: 0 auto 20px auto;
            }

            @media screen and (max-width: 1320px) {
                text-align: left;
            }
        }
    
        .logo-footer{
            // padding: 20px;
            justify-self: flex-start;
            align-self: center;
    
            img{
                width: 150px;
            }
        }
        
        .legal-policies{
            justify-self: flex-end;
            
            ul{
    
                p{
                    padding: unset;
                }
            }
        }
    }
    
    .text{
        color: darkgrey;
        margin-left: 50px;
        padding: 20px 0;

        @media screen and (max-width: 1320px) {
            border-top: 1px solid $verydarkgrey;
            margin-left: unset;
            text-align: center;
        }
    }
    
}

a{
    color: white;
    transition: 0.5s;

    &:active {
        color: $green;
    }

    @media (hover: hover) {
        &:hover{
            color: $green;
        }
    }
}