@import "~react-image-gallery/styles/scss/image-gallery.scss";
$green: #BFDD3B;
$whitegrey: #f0f0f0;

.single-pedal{


    .big-image{
        text-align: center;
        margin: 100px 0;
    
        img{
            max-width: 500px;
            box-shadow: 0px 8px 6px -7px rgba(0,0,0,1);

            @media screen and (max-width: 1320px) {
                width: 100%;
            }
        }
    }

    .images-gallery{
        display: flex;
        justify-content: center;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        background-color: $whitegrey;
        padding: 20px 50px;
    }

    .info-order{
        display: flex;
        justify-content: space-between;
        // align-items: baseline;
        margin: 100px 150px;

        @media screen and (max-width: 1320px) {
            flex-flow: column;
            margin: 100px 10px;
        }

        .info-details{
            border: 1px solid black;
            padding: 20px;
            width: 600px;

            @media screen and (max-width: 1320px) {
                margin-bottom: 50px;
                width: auto;
            }

            h2{
                border-bottom: 1px solid lightgrey;
            }

            .description{
                border-bottom: 1px solid lightgrey;
            }

            .videos{
                border-bottom: 1px solid lightgrey;
                }

            i{
                margin-right: 5px;
            }
        }
        .order-details{
            background-color: rgb(240, 240, 240);
            padding: 15px;
            text-transform: uppercase;
            width: 300px;
            height: fit-content;

            @media screen and (max-width: 1320px){
                width: 70%;
                max-width: 400px;
                margin: 0 auto;
                align-self: center;
            }

            .border{
                border: 1px solid lightgrey;
                padding: 15px;

                .price{
                    display: flex;
                    justify-content: space-between;
                }

                .order{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    border-top: 1px solid lightgrey;

                    .quantity{
                        width: 100px;


                        button{
                            width: 25px;
                            height: 25px;
                            text-align: center;
                            padding: 0;
                            margin: 0 auto;

                            &:focus{
                                outline: none;
                            }
                        }

                        input{
                            width: 20px;
                            height: 20px;
                            padding: 0;
                            text-align: center;
                            margin: 2px;
                            border: 1px solid #BFDD3B;

                            &:focus{
                                outline: none;
                            }
                        }
                    }

                    button{
                        height: 30px;
                        width: 100px;
                        background: white;
                        border: 1px solid #BFDD3B;
                        border-radius: 5px;
                        padding: 2px 10px;
                        text-transform: uppercase;
                        font-size: 12px;
                        
                        @media (hover: hover){
                            &:hover{
                                cursor: pointer;
                                background: darkgrey;
                                color: white;
                                transition: 0.5s;
                            }
                        }
                
                        &:focus{
                            outline: none;
                        }

                        span{
                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
            }
            
        }
    }
}

.image-gallery{
    width: 100vw;
}

