$green: #BFDD3B;

@mixin border{
    max-width: 0%;
    background-color: $green;

    @media screen and (max-width: 680px) {
        visibility: hidden;
    }
}

@mixin responsive{
    @media screen and (max-width: 670px) {
        visibility: hidden;
        width: 0;
        margin: 0;
        padding: 0;
    }
}

@keyframes slide-in{
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

@keyframes slide-out{
    from {
        max-width: 100%;
    }
    to {
        max-width: 0;
    }
}

.header{
    display: flex;
    width: -webkit-fill-available;
    background: black;
    align-items: center;
    padding: 15px;
    // position: sticky;
    // top: 0;
    // border-bottom: 1px solid darkgrey;

    .logo{
        // margin: 10px;

        img{
            width: 100%;
            min-width: 150px;
        }
    }

    .navigation{
        display: flex;
        justify-content: center;
        width: 100%;
        @include responsive();

        ul{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin-right: calc(100% - 90%);
            @include responsive();

            li{
                padding: 10px;
                text-transform: uppercase;
                font-weight: 600;
                @include responsive();

                a{
                    color: white;
                    transition: 0.5s;

                    &:hover{
                        color: $green;
                    }
                }

                .active-nav{
                    color: $green;
                    @include responsive();
                }
            }
        }
    }

    .cart{

        @media screen and (max-width: 670px) {
            visibility: hidden;
            z-index: -1;
            width: 0;
          }

        img{
            width: 50px;
        }
    }
}

.slide-in {
    height: 1px;
    animation: slide-in 2s forwards;
    @include border();
}
.slide-out {
    animation: slide-out 2s forwards;
    height: 0;
    @include border();
}



