$green: #BFDD3B;

@mixin border{
    max-width: 0%;
    background-color: $green;
}

@keyframes slide-in{
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

@keyframes slide-out{
    from {
        max-width: 100%;
    }
    to {
        max-width: 0;
    }
}

.header{
    display: flex;
    width: -webkit-fill-available;
    background: black;
    align-items: center;
    padding: 15px;
    // position: sticky;
    // top: 0;
    // border-bottom: 1px solid darkgrey;

    .logo{
        // margin: 10px;

        img{
            width: 200px;
        }
    }

    .navigation{
        display: flex;
        justify-content: center;
        width: 100%;

        ul{
            display: flex;
            list-style-type: none;
            padding: 0;

            li{
                padding: 10px;
                text-transform: uppercase;
                font-weight: 600;

                a{
                    color: white;
                    transition: 0.5s;

                    &:hover{
                        color: $green;
                    }
                }

                .active-nav{
                    color: $green;
                }
            }
        }
    }

    .cart{
        // width: 200px;

        img{
            width: 50px;
        }
    }
}

.slide-in {
    height: 1px;
    animation: slide-in 2s forwards;
    @include border();
}
.slide-out {
    animation: slide-out 2s forwards;
    height: 0;
    @include border();
}



