$green: #BFDD3B;

.pedal-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;

    img{
        height: 300px;
        width: 300px;
        border: 1px solid $green;
        border-radius: 5px;
        object-fit: cover;
        box-shadow: 0 8px 6px -7px #999;

        &:hover{
            opacity: 0.7;
        }
    }

    .pedal-info{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 0 10px;
        
        a{
            color: black;
            text-transform: uppercase;

            &:hover{
                text-decoration: underline;
                color: $green;
            }
        }
    }

    .category{
        padding: 0 10px;
        margin-top: -10px;
        color: grey;
    }
}