$green: #BFDD3B;
$beige: #eaeaea;

.products{
    display: flex;
    padding: 50px;
    gap: 100px;

    .category-filter{
        background: $beige;
        border: 1px solid $green;
        border-radius: 5px;
        padding: 30px 0 30px 30px;
        width: 300px;
        height: 150px;
        
        p{
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-flex;
        }

        ul{
            margin: 0;
            padding: 10px 0 30px 0;

            li{
                list-style: none;
                
                border-bottom: 1px solid $green;
                
                a{
                    color: black;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 5px;

                    &:hover{
                        color: white;
                        background: darkgrey;
                    }
                }

                .guitar-type{
                    margin: 0 0;
                    // padding-left: 10px;
                    // background: $green;
                    height: auto;

                    .arrow{
                        float: right;
                        padding-right: 20px;
                        line-height: 40px;
                    }
                }
                
            }
        }
    }

    .pedals{
        display: flex;
        flex-direction: column;
        gap: 50px;

        .filter{
            background: $beige;
            border: 1px solid $green;
            border-radius: 5px;
            height: 100px;
            // text-align: center;

             p{
                text-transform: uppercase;
                font-weight: bold;
                margin-left: 30px;
             }

             .pedal-filters{
                 display: flex;
                 gap: 10px;
                 margin-left: 30px;
                //  justify-content: center;
             }
        }
    
        .gallery{
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // grid-gap: 10px;
        }
    }
    
}

.active{
    background: $green;
}

.test{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

