$green: #BFDD3B;

.burger-navigation{
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 102px;
    right: 0;
    height: 100vh;
    width: 50vw;
    z-index: 3;
    background-color: black;
    opacity: 0.9;
    visibility: hidden;

    @media screen and (max-width: 670px) {
        visibility: visible;
    }

    ul{
        list-style-type: none;
        text-align: left;
        padding: 0;

        li{
            padding: 50px;
            text-transform: uppercase;
            font-weight: 600;            

            .active-nav{
                color: $green;
            }
        }
    }
}

.menu-show{
    transition: all ease 0.5s;
    transform: translateX(0);
}

.menu-hide{
    transition: all ease 0.5s;
    transform: translateX(60vw);
    
}
