$green: #BFDD3B;

.burger-navigation{
    // display: flex;
    // flex-flow: column;
    position: fixed;
    top: 102px;
    right: 0;
    height: 100%;
    width: 50vw;
    z-index: 3;
    background-color: black;
    opacity: 0.9;
    visibility: hidden;

    @media screen and (max-width: 670px) {
        visibility: visible;
    }

    ul{
        list-style-type: none;
        // text-align: left;
        padding: 0;
        margin: 0;
        height: calc(100% - 102px);
        display: flex;
        flex-direction: column;


        li{
            // padding: 30px;
            // text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;            

            .active-nav{
                color: $green;
            }

            // @media screen and (orientation: landscape){
            //     padding: 20px;
            // }

            // @media screen and (min-width: 560px){
            //     padding: 10px;
            // }

            span{
                color: #CDB074;
            }
        }
    }
}

.menu-show{
    transition: all ease 0.5s;
    transform: translateX(0);
}

.menu-hide{
    transition: all ease 0.5s;
    transform: translateX(60vw);
    
}
